
<%= form_for(@article) do |f| %>
    <ul>
        <% @article.errors.full_messages.each do |error| %>
        <li><%= error %></li>
        <% end %>
    </ul>
    <p>
        <%= f.label :title %><br />
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :blurb %><br />
        <%= f.text_area :blurb %>
    </p>
    <p>
        <%= f.label :image_url %><br />
        <%= f.text_area :image_url %>
    </p>
    <p>
        <%= f.label :body %><br />
      <%= f.text_area :body, :rows => 7 %>
    </p>
    <p>
        <%= f.label :tag_list %><br />
        <%= f.text_field :tag_list %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>