<% title(@articles.title) %>
<%= content_for :js do %>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sons-of-obsidian"></script>
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %> 

<article>
    <h1 class="article-title"><%= @articles.title %></h1>

    <div class="article-summary">
        <p><%= @articles.blurb  %></p>
    </div>
   
    <%= image_tag(@articles.image_url, class: "article-img") %>

    <p><%= @articles.body.html_safe  %></p>  
   
    <p>
        <ul class="tag-listing">Tags:            
            <% @articles.tags.each do |tag| %>
                <li><%= link_to tag.name, tag_path(tag) %></li>
            <% end %>
        </ul>
    </p>

</article>

<% if false %>
    <hr>
    <%= link_to "<< Back to Articles List", articles_path %>


    <hr>
    <h3>Comments (<%= @articles.comments.size %>)</h3>
    <%= render partial: 'articles/comment', collection: @articles.comments %>

    <%-# comment out next bunch of lines -%>

    <hr>
    <%= link_to "delete", article_path(@articles), method: :delete, data: {confirm: "Really delete the article?"} %>
    <hr>
    <%= link_to "edit", edit_article_path(@articles) %>
<% end %>

 <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'afshin-tech'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    